<!DOCTYPE html>
<html>
<%- include('../partials/head') %>
<body>
<%- include('../partials/header') %>
<div>
    <!-- Add code for ALL BOOKS VIEW -->
</div>
<%- include('../partials/footer') %>
</body>
</html>