<header>
    <a href="/">Garden of Stories</a>
    <nav>
        <a href="/books" <%- title === 'All Books' ? 'class="active"' : '' %>>All Books</a>
        <% if (user) { %>
        <a href="/books/new" <%- title === 'Add New Book' ? 'class="active"' : '' %>>
		Add New Book</a>
        <a href="/logout">LOG OUT</a>
        <% } else { %>
        <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"/></a>
        <% } %>
    </nav>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
/>
</header>