<header>
    <a href="/">Garden of Stories</a>
    <nav>
        <a href="/books">All Books</a>
        <a href="/books/new">Add A New Book</a>
        <a href="/users/new">Add a New User</a>
    </nav>
</header>