<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <main>
        <section id="homepagetxt">
            <h2>Welcome To Our Garden Of Stories..</h2>
            <h3> A book database where your community can come together and share their favorite books, make suggestions, and leave reviews.</h3>
            <h4>Help us expand our Ever-growing Library!
                 The current number of books we have stored is: <%=numberOfBooks %></h4>
        </section> 
    </main>

        <%- include('./partials/footer') %>
</body>
</html>