<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
  <section> 
    <div id="spotlight">
    <h2>Book of The Month Spotlight:</h2>
    
    <!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide"
           style="background-image:url(1.jpg);"
      >Slide 1</div>
      <div class="swiper-slide"
           style="background-image:url(1.jpg);"
      >Slide 2</div>
      <div class="swiper-slide"
           style="background-image:url(slide images/: 1jpg;);"
      >Slide 3</div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  
    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script>
        const swiper = new Swiper('.swiper-container', {
    // Optional parameters
    // direction: 'horizontal',
    loop: true,

    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
    },
  
    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  
    // And if we need scrollbar
    scrollbar: {
      el: '.swiper-scrollbar',
    }
  });
  </script>
    </div>
  </section>
    <%- include('./partials/footer') %>
</body>
</html>