@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Henny+Penny&family=Poiret+One&display=swap');

:root {
    --yellow-color: #e9c46a;
    --coral-color: #f4a261;
    --orange-color: #e76f51;
    --light-green-color: #606c38;
    --dark-green-color: #283618;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

header {
    display: flex;
    justify-content: space-between;
    background: var(--dark-green-color);
}

header h1 {
    font-family: 'Henny Penny', cursive;
    color: var(--yellow-color);
    font-size: 2.3vmin;
}

nav {
    font-family: 'Bad Script', cursive;
    align-self: center;
    margin-right: 10vmin;
}

nav > a {
    padding: 2vmin;
    text-decoration: none;
    color: var(--yellow-color);
    font-size: 1.2vmin;
    transition: 1s;
}

/* nav > a:hover{
    color:#f4a261;
    transform: scale(1.6);
} */

#newbook {
    /* box-sizing: border-box; */
    padding: 2vmin;
    border-radius: .2vmin;
    /* background-color: #e9c56aa1; */
    /* border: 4px solid #e9c46a; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.5vmin; 
}

#newuser {
    box-sizing: border-box;
    padding: 2vmin;
    border-radius: .2vmin;
    background-color: #e9c56aa1;
    border: 4px solid #e9c46a;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5vmin; 
}

#nu-body {
   background-color: #283618;
   
}

#nb-body {
    background: rgb(40,54,24);
    background: linear-gradient(90deg, rgba(40,54,24,1) 0%, rgba(96,108,56,1) 33%, rgba(244,162,97,1) 83%);
    
 }

 #newbook-btn {
    margin-top: 2vmin;
    width: 20vmin;
    height: 5vmin;
    padding: 2vmin;
    font-size: 2vmin;
    border: 1vmin ridge rgba(214, 49, 3, 0.901);
    color: black;
 }